name: Deploy Go App

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: MY_AWS_REGION                   # set this to your preferred AWS region, e.g. us-west-1
  ECR_REPOSITORY: MY_ECR_REPOSITORY           # set this to your Amazon ECR repository name
  ECS_SERVICE: MY_ECS_SERVICE                 # set this to your Amazon ECS service name
  ECS_CLUSTER: MY_ECS_CLUSTER                 # set this to your Amazon ECS cluster name
  ECS_TASK_DEFINITION: MY_ECS_TASK_DEFINITION # set this to the path to your Amazon ECS task definition
                                               # file, e.g. .aws/task-definition.json
  CONTAINER_NAME: MY_CONTAINER_NAME           # set this to the name of the container in the
                                               # containerDefinitions section of your task definition

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Create .env file
        run: |
          cat <<EOF > .env
          PORT=${{ secrets.PORT }}
          RABBITMQ_URL=${{ secrets.RABBITMQ_URL }}
          RABBITMQ_MANAGEMENT_URL=${{ secrets.RABBITMQ_MANAGEMENT_URL }}
          RABBITMQ_USER=${{ secrets.RABBITMQ_USER }}
          RABBITMQ_PASSWORD=${{ secrets.RABBITMQ_PASSWORD }}
          EOF

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t mateusf03/smart-queue-go-app .

      - name: Push image to Docker Hub
        run: docker push mateusf03/smart-queue-go-app:latest

  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    steps:
      - name: Pull docker image
        run: docker pull mateusf03/smart-queue-go-app:latest
        
      - name: Delete old container
        run: docker rm -f smart-queue-go-app-container
        
      - name: Run docker container          
        run: docker run -d -p 8080:8080 --name smart-queue-go-app-container mateusf03/smart-queue-go-app
